APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

JWT_SECRET=changeme
JWT_TTL=null
JWT_REFRESH_TTL=null
JWT_ALGO=null
JWT_BLACKLIST_ENABLED=true
JWT_BLACKLIST_GRACE_PERIOD=null