<div class="container page-welcome">
    <div class="row">
        <div class="col-md-12 text-center content">
            <div class="title">
                Anvel
            </div>
            <div class="sub-title">
                {{inspiringQuote}}
            </div>
            <hr class="separator">
            <p class="description">
                Check out the <a href="//anvel.io">docs</a> for getting started
                <br/>
                Fork us on <a href="https://github.com/jaesung2061/anvel-base">GitHub</a>
            </p>
        </div>
    </div>
</div>