.content {
    margin-top: 200px;
}

.title {
    font-size: 96px;
}

.sub-title {
    font-size: 50px;
}

.separator {
    width: 20%;
    border-width: 4px;
}

.description {
    font-size: 20px;
    font-weight: 600;
}